# Instagram Crawling 후 파일병합

In [1]:
from google.colab import files
filenames = []
for _ in range(4):
    uploaded = files.upload()
    filenames.append(list(uploaded.keys())[0])

Saving 제주도맛집.csv to 제주도맛집.csv

Saving 제주맛집.csv to 제주맛집.csv

Saving 제주도관광.csv to 제주도관광.csv

Saving 제주여행.csv to 제주여행.csv

In [2]:
filenames

['제주도맛집.csv', '제주맛집.csv', '제주도관광.csv', '제주여행.csv']

In [4]:
import pandas as pd

df = pd.read_csv(filenames[0])
df.head()

                                             content  ...                                               tags
0  .< 제주해물라면 맛집모음! > 일단저장@ 해물 아낌없이 주는 해물라면 맛집!바다뷰...  ...  ['#제주맛집', '#제주도맛집', '#제주시맛집', '#애월맛집', '#중문맛집'...
1  그 유명한 #연돈 에 다녀왔습니다. 그런데ㅎ;;;⠀⠀⠀⠀⠀⠀⠀어마무시한 웨이팅으로 ...  ...  ['#연돈', '#제주도연돈', '#테이블링', '#등심까스', '#수제볼카츠', ...
2  42년 전통 도민 맛집. 태양을 품은 듯 화끈한 비주얼이다. 포슬포슬한 두부가 푸짐...  ...  ['#신해바라기분식', '#제주도맛집뜨끈한', '#순두부찌개', '#국밥맛집', '...
3  쪼올깃한 복어를 서울 한복판에서 만났다. 쫄복은 제주도에만 있는 줄 알았다. #우수...  ...  ['#우수미회센터', '#신사맛집쫄복은', '#우수미회센타', '#신사동맛집', '...
4  오늘도 맛있고 두툼하고 부드럽게 준비 잘 해두었어요🙋‍♀️곧 시즌마감 예정인 애플망...  ...                                          ['#안녕하샌']

[5 rows x 5 columns]

In [5]:
jeju_df = pd.DataFrame([])
for fname in filenames:
    df = pd.read_csv(fname)
    jeju_df = jeju_df.append(df)

jeju_df.shape

(395, 5)

In [6]:
jeju_df.head()

                                             content  ...                                               tags
0  .< 제주해물라면 맛집모음! > 일단저장@ 해물 아낌없이 주는 해물라면 맛집!바다뷰...  ...  ['#제주맛집', '#제주도맛집', '#제주시맛집', '#애월맛집', '#중문맛집'...
1  그 유명한 #연돈 에 다녀왔습니다. 그런데ㅎ;;;⠀⠀⠀⠀⠀⠀⠀어마무시한 웨이팅으로 ...  ...  ['#연돈', '#제주도연돈', '#테이블링', '#등심까스', '#수제볼카츠', ...
2  42년 전통 도민 맛집. 태양을 품은 듯 화끈한 비주얼이다. 포슬포슬한 두부가 푸짐...  ...  ['#신해바라기분식', '#제주도맛집뜨끈한', '#순두부찌개', '#국밥맛집', '...
3  쪼올깃한 복어를 서울 한복판에서 만났다. 쫄복은 제주도에만 있는 줄 알았다. #우수...  ...  ['#우수미회센터', '#신사맛집쫄복은', '#우수미회센타', '#신사동맛집', '...
4  오늘도 맛있고 두툼하고 부드럽게 준비 잘 해두었어요🙋‍♀️곧 시즌마감 예정인 애플망...  ...                                          ['#안녕하샌']

[5 rows x 5 columns]

In [7]:
jeju_df.drop_duplicates(subset=['content'], inplace=True)
jeju_df.to_csv('instagram_제주핫플레이스.csv', index=False)

In [8]:
jeju_df.shape

(340, 5)

In [9]:
jeju_df.tail()

                                              content  ...                                               tags
93                                           입에서 녹아버렷  ...                                                 []
94                                         너무나도 뜨거웠다🔥  ...                                                 []
95                                         사랑에 편법은 없다  ...                                                 []
96                                            언제찍었대..  ...                                                 []
97  평화로워보이는 제주도🐎.....#jeju #마방목지 #말 #제주도 #바다 #lfl ...  ...  ['#jeju', '#마방목지', '#말', '#제주도', '#바다', '#lfl'...

[5 rows x 5 columns]

In [10]:
df = pd.read_csv('instagram_제주핫플레이스.csv')
df.head()

                                             content  ...                                               tags
0  .< 제주해물라면 맛집모음! > 일단저장@ 해물 아낌없이 주는 해물라면 맛집!바다뷰...  ...  ['#제주맛집', '#제주도맛집', '#제주시맛집', '#애월맛집', '#중문맛집'...
1  그 유명한 #연돈 에 다녀왔습니다. 그런데ㅎ;;;⠀⠀⠀⠀⠀⠀⠀어마무시한 웨이팅으로 ...  ...  ['#연돈', '#제주도연돈', '#테이블링', '#등심까스', '#수제볼카츠', ...
2  42년 전통 도민 맛집. 태양을 품은 듯 화끈한 비주얼이다. 포슬포슬한 두부가 푸짐...  ...  ['#신해바라기분식', '#제주도맛집뜨끈한', '#순두부찌개', '#국밥맛집', '...
3  쪼올깃한 복어를 서울 한복판에서 만났다. 쫄복은 제주도에만 있는 줄 알았다. #우수...  ...  ['#우수미회센터', '#신사맛집쫄복은', '#우수미회센타', '#신사동맛집', '...
4  오늘도 맛있고 두툼하고 부드럽게 준비 잘 해두었어요🙋‍♀️곧 시즌마감 예정인 애플망...  ...                                          ['#안녕하샌']

[5 rows x 5 columns]

In [11]:
df.tail()

                                               content  ...                                               tags
335                                           입에서 녹아버렷  ...                                                 []
336                                         너무나도 뜨거웠다🔥  ...                                                 []
337                                         사랑에 편법은 없다  ...                                                 []
338                                            언제찍었대..  ...                                                 []
339  평화로워보이는 제주도🐎.....#jeju #마방목지 #말 #제주도 #바다 #lfl ...  ...  ['#jeju', '#마방목지', '#말', '#제주도', '#바다', '#lfl'...

[5 rows x 5 columns]