# Pandas - Series

In [1]:
import numpy as np
import pandas as pd

## Series 생성

In [3]:
# 1차원 array, list, tuple 등 vector면 가능
s = pd.Series([9904312, 3448737, 2890451, 2466052])
s

0    9904312
1    3448737
2    2890451
3    2466052
dtype: int64

In [4]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index = ['서울', '부산', '인천', '대구'], dtype = np.int32)
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int32

In [5]:
# series의 값 - numpy 배열
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int32)

In [6]:
# series의 index
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [11]:
s.name = '인구'
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

## Series 연산

In [9]:
# 정수형(int32)에서 실수형(float64)으로 자동변경
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

## Series Indexing

In [23]:
s[1], s['부산'], s.부산

(3448737, 3448737, 3448737)

In [13]:
# fancy indexing
s[[0, 3, 1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int32

In [14]:
s[['서울', '대구', '부산']]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int32

In [16]:
# slicing
# 숫자로 인덱싱을 주면 마지막은 포함X
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int32

In [17]:
# index name으로 인덱싱을 주면 마지막도 포함O
s['부산':'대구']

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

In [19]:
# filtering
# logical_and
s[(2500000 < s) & (s < 3000000)]   # s[2500000 < s < 3000000]은 사용불가

도시
인천    2890451
Name: 인구, dtype: int32

In [21]:
# logical_or
s[(s < 25e5) | (s > 4e6)]

도시
서울    9904312
대구    2466052
Name: 인구, dtype: int32

## Series & Dictionary

In [25]:
'서울' in s, '대전' in s

(True, False)

In [24]:
s2 = pd.Series({"서울" : 9631482, "부산" : 3393191, "인천" : 2632035, "대전" : 1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

## Index 기반 연산

In [26]:
s - s2

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [27]:
s.values - s2.values

array([272830,  55546, 258416, 975894])

In [29]:
rs = (s - s2) / s2 * 100
rs

대구         NaN
대전         NaN
부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [30]:
rs.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [33]:
rs = rs[rs.notnull()]

## Data 갱신, 추가, 삭제

In [34]:
# update
rs['부산'] = 1.63
rs

부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

In [35]:
# add
rs['대구'] = 1.41
rs

부산    1.630000
서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64

In [36]:
# delete
del rs['부산']
rs

서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64