# Pandas - DataFrame 고급 인덱싱

In [1]:
import numpy as np
import pandas as pd

## Loc Indexer

In [2]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["x", "y", "z"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

### 1개만 있으면 row indexing

In [3]:
df.loc['x']

A    10
B    11
C    12
D    13
Name: x, dtype: int64

In [4]:
df.loc['x':'y']     # df['x':'y']와 동일

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [5]:
df.loc[['x', 'z']]

    A   B   C   D
x  10  11  12  13
z  18  19  20  21

In [6]:
df['A'] > 15

x    False
y    False
z     True
Name: A, dtype: bool

In [7]:
# Boolean indexing
df.loc[df.A > 15]

    A   B   C   D
z  18  19  20  21

### Indexer 2개를 받는 경우

In [8]:
df.loc['x', 'A']

10

In [9]:
df.loc['y':, 'B']

y    15
z    19
Name: B, dtype: int64

In [11]:
df.loc[df.A > 10, 'A']

y    14
z    18
Name: A, dtype: int64

## Iloc Indexer

In [12]:
df.iloc[0, 0]

10

In [13]:
df.iloc[:2, 1:]

    B   C   D
x  11  12  13
y  15  16  17

In [14]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: z, dtype: int64

### 연습문제 4.3.1

In [15]:
# 모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.
df = pd.DataFrame(np.arange(25).reshape(5, 5),
                  index = ['a', 'b', 'c', 'd', 'e'],
                  columns = ['v', 'w', 'x', 'y', 'z'])
df

    v   w   x   y   z
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [25]:
# 10가지 이상 방법으로 12 값 도출
df['x']['c'], df.x['c'], df.x[2], df.x.c

(12, 12, 12, 12)

In [18]:
# loc
df.loc['c', 'x'], df.loc['c']['x'], df.loc['c'][2]

(12, 12, 12)

In [21]:
# iloc
df.iloc[2, 2], df.iloc[2]['x'], df.iloc[2][2]

(12, 12, 12)

In [22]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [23]:
for i in df.index:
    print(df.x[i])

2
7
12
17
22